.items{
    width: 50%;
    margin-top: 5px;
}
.payment{
    background-color: white;
}
.section{
    padding: 10px;
    display: flex;
    border-bottom: 1px solid lightgrey;
}
.title{
    width:20%;
}
.address{
    width:80%;
}
.items{
    width:80%;
}
.details{
    width:80%;
}
.payment__btn{
    
  
    border-radius: 2px;
     border: none;
     margin-top: 5px;
 }